body{
width:980px;
background:white;
padding=0;
margin=0;
margin-left:auto;
margin-right:auto;
}
#table
{align:center;
}



#header{width:980px;
height=100px;
background:white;
margin-left:auto;
margin-right:auto;
}

#logo
{
float:left;
}

#banner
{
float:right;
}

#navbar{width:980px;
height=50px;
background:blue;
font-size:18px;color:#FFFFFF;
margin-left:auto;
margin-right:auto;
}

#ul{padding:8px;}
#ul li{list-style:none;display:inline}


#main_content{
width:700px;
height:400px;
background:lightgray;
float:left;
left:auto;
margin-right:auto;
}

#sidebar{
width:278px;
height:400px;
background:lightblue;
float:right;
margin-right:auto;
}


#footer{width=980px;
height=45px;
background:black;
margin-left:auto;
margin-right:auto;
}



